/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



<<<<<<< HEAD
/** Variables **********************************************/
$base-font-family:              Helvetica, sans-serif;
$base-line-height:              1.5em;
$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         40px;
$nav-height:                    56px;

/* portfolio tinkering */
$img_spacing: 5px; 
$img_height: 275px;
$caption_font_size: 12px;
$caption_color: #aaa;

/* COLORS  */
$red:  #FF3636;
$orange: #F29105;
$blue: #2698BA;
$green: #11D68B;
$lime_green: #B7D12A;
$purple: #B509AC;


$grey-color-dark: #333;   /* footer */
$grey-color-light: #ddd;  /* navigation bar border */
$text-color:     #666;

/* Set theme color *************************/
$theme-color:   $red;


/************************************************************/

=======
>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
/**
 * Basic styling
 */
body {
<<<<<<< HEAD
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 100;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
=======
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
<<<<<<< HEAD
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $vertical-spacing-unit / 2;
}

.alignright {
    float: right;
}


hr{
    /* Inset, by Dan Eden */
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}


=======
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
<<<<<<< HEAD
    margin-left: $horizontal-spacing-unit;
=======
    margin-left: $spacing-unit;
>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
<<<<<<< HEAD
    font-weight: 100;
}


=======
    font-weight: $base-font-weight;
}



>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
/**
 * Links
 */
a {
<<<<<<< HEAD
    color: $text-color;
    text-decoration: none;
    /*
    &:visited {
        color: darken($brand-color, 15%); 
    }
    */
    &:hover {
        color: $theme-color;
        text-decoration: none;
    }
}

article a {
    color: $theme-color;
    font-weight: 100;

    &:hover {
        text-decoration: none;
=======
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
    }
}



/**
 * Blockquotes
 */
<<<<<<< HEAD

/**
* blockquote {
*    color: $text-color;
*    border-left: 10px solid $grey-color-light;
*    padding-left: $horizontal-spacing-unit / 2;
*    font-size: 18px;
*    font-style: italic;
*
*    > :last-child {
*        margin-bottom: 0;
*    }
}
*
*/

/** Modificat
*/

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
*  color: $text-color;
  background: lightgrey;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
=======
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
<<<<<<< HEAD
    border-radius: 3px;
    background-color: $grey-color-light;
=======
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
<<<<<<< HEAD
    overflow-x: scroll;
=======
    overflow-x: auto;
>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
<<<<<<< HEAD
 */ 

.wrapper {
    max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
    max-width:         calc(800px - (#{$horizontal-spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
    padding-left: $horizontal-spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit}));
        max-width:         calc(800px - (#{$horizontal-spacing-unit}));
=======
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


<<<<<<< HEAD
=======

>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
/**
 * Clearfix
 */
%clearfix {
<<<<<<< HEAD
    &:before,
=======

>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
<<<<<<< HEAD
* Afegit: Modificació pseudoclasses ol
*/
ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
ol > li {
	position:relative; /* Create a positioning context */
	margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
	padding:4px 8px; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */
*	border-top:2px solid #666;
	background:#f6f6f6;
}
ol > li:before {
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:absolute;
	top:-2px;
	left:-2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;
	/* Some space between the number and the content in browsers that support
	   generated content but not positioning it (Camino 2 is one example) */
	margin-right:8px;
	padding:4px;
	border-top:2px solid #666;
	color:#fff;
	background:#666;
	font-weight:bold;
	font-family:"Helvetica Neue", Arial, sans-serif;
	text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}


=======
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
>>>>>>> 4d403c1f718df3190233fc0f236e6264686fc5fd
